<div class="col-sm-3 col-md-2 sidebar">
  <div class="text-center">
    <h2 class="brand">
      NG-101 <small>SW Edition</small>
    </h2>
    <img src="images/flat-woman-avatar.png" class="user-avatar" />
    <br />
    <a ng-href="#/profile" class="btn btn-white btn-outline btn-rounded btn-sm">Profile</a>
  </div>

  <ul class="nav nav-sidebar">
    <li>
      <a ng-href="#/dashboard">
        <i class="fa fa-bell"></i>Dashboard
      </a>
    </li>
    <li>
      <a ng-href="#/planets">
        <i class="fa fa-bell"></i>Planets
      </a>
    </li>
    <li>
      <a ng-href="#/species">
        <i class="fa fa-bell"></i>Species
      </a>
    </li>
  </ul>
</div>
